@{
    ViewBag.Title = "Orders";
}
<h2>@ViewBag.Title.</h2>
<ul>
    @foreach (var order in ViewBag.Orders)
    {
        <li>
            <a href="/Home/Edit/@order.Id">@order.MenuItem.Name</a>
            <form style="display: inline-block;" method="post" action="/Home/Complete/@order.Id"><input value="Complete" type="submit" /></form>
            <form style="display: inline-block;" method="post" action="/Home/Delete/@order.Id"><input value="Delete" type="submit" /></form>
        </li>
    }
    @if(ViewBag.Count == 0)
    {
        <p>There Are No Current Orders</p>
    }
</ul>

<p>Use this area to provide additional information.</p>
